<div class="container mt-6 mb-6">
  <h1>Quem Somos</h1>
  <h5>Fundada em 2023, a PurezaVerde é uma Empresa <br> que atua em venda de Produtos, Criação de receitas <br>
    e Delivery de produtos e comida sem origem animal.</h5>

</div>
<div>
</div>
<div>
</div>



<div class="container mt-5 mb-5">
  <h2>Fale Conosco</h2>
  <form class="col-lg-8">
    <div class="row">
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Seu Nome Completo">
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Seu Email">
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input type="number" class="form-control" placeholder="DDD + Número de Telefone">
      </div>
      <div class="col-lg-6 mt-2 mb-2">
        <input type="text" class="form-control" placeholder="Mensagem para nós">
      </div>
      <div class="class-lg-12 mt-2 mb-2">
        <button class="btn btn-md btn-dark">Enviar</button>
      </div>
    </div>
  </form>
</div>
