.footer
{
  overflow: hidden;
  position: sticky;
  top: 100%;
  background-color: white;
  padding: 20px 10px;
}

a
{
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: none;
  padding: 0px 10px;
}
a:hover
{
  color: var(--primary-color);
}
i
{
  padding: 0px 10px;
}
