<div class="banner">
  <h1>Por que ficar com fome quando <br/> você pode pedir no Veganissimo?</h1>
  <h4>Baixe o aplicativo de comida online da Pureza Verde</h4>
<div class="content1">
  <a href="https://play.google.com/store/apps?hl=pt_BR&gl=US" target="_blank">PlayStore</a>
</div>
<div class="content2">
  <a href="https://apps.apple.com/br/genre/ios/id36" target="_blank">AppleStore</a>
</div>
</div>


<div class="bannermobile">
    <h1>Por que ficar com fome quando <br/> você pode pedir no Veganissimo?</h1>
    <h4>Baixe o aplicativo de comida online da Pureza Verde</h4>
  <div class="contentmobile1">
    <a href="https://play.google.com/store/apps?hl=pt_BR&gl=US" target="_blank">PlayStore</a>
  </div>
  <div class="contentmobile2">
    <a href="https://apps.apple.com/br/genre/ios/id36" target="_blank">AppleStore</a>
  </div>
</div>
