<div class="container-fluid">
  <div class="row banner d-flex p-sm-3 p-md-3 p-xl-5">
    <h1 class="banner__title">Por que ficar com fome quando você pode pedir no Veganissimo?</h1>
    <h4 class="banner__title2">Baixe o aplicativo de comida online da Pureza Verde</h4>
    <div class="banner__app-list pb-2">
      <a href="https://play.google.com/store/apps?hl=pt_BR&gl=US" class="banner__app-item android" target="_blank">PlayStore</a>
      <a href="https://apps.apple.com/br/genre/ios/id36" class="banner__app-item ios" target="_blank">AppleStore</a>
    </div>

  </div>
</div>

